@charset "utf-8";

*:not(font, i, b) {
  margin: 0;
  padding: 0;
  color: inherit;
  -webkit-font-smoothing: antialiased;
}

*,
:after,
:before {
  box-sizing: border-box;
  flex-shrink: 0;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  tab-size: 4;
  --color-default: #000;
  --color-white: #fff;
  --color-white-10: rgba(255, 255, 255, 0.1);
  --color-white-50: rgba(255, 255, 255, 0.5);
  --color-black: #111;
  --color-black-90: rgba(17, 17, 17, 0.9);
  --color-grey1: #f4f4f4;
  --color-grey1-30: rgba(244, 244, 244, 0.3);
  --color-grey2: #ddd;
  --color-grey2-30: rgba(221, 221, 221, 0.3);
  --color-grey3: #ababab;
  --color-grey4: #777;
  --color-error: #f62323;
  --color-confirm: #25b44d;
}

::-webkit-scrollbar {
  height: 80%;
  margin-right: 12px;
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-grey3);
  border-radius: 8px;
}
::-webkit-scrollbar-track {
  background-color: var(--color-grey2);
  border-radius: 8px;
}

html {
  font-size: 10px;
  letter-spacing: -0.005em;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul li,
ol li {
  list-style: none;
}

ol,
ul,
li {
  margin: 0;
  padding: 0;
}

input {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  color: inherit;
  font-style: normal;
  font-size: 100%;
  font-family: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  word-break: inherit;
  word-wrap: inherit;
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  -o-box-sizing: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.input_registration_sec input:-webkit-autofill,
.input_registration_sec input:-webkit-autofill:hover,
.input_registration_sec input:-webkit-autofill:focus,
.input_registration_sec input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s;
  transition: background-color 5000s;
  -webkit-text-fill-color: #333 !important;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

.container {
  max-width: 1392px;
  padding: 0 1.4rem;
  margin-left: auto;
  margin-right: auto;
}
